### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
export/*
.vscode/*
.haxelib/
*.code-workspace

piss engine
