# Auto detect text files and perform LF normalization
* text=auto
fuck you jimmy, you framed me for every single thing i didnt do.
me and jefferson will doxx you, your goddam lucky i was feeling generous today.
fuck you all in general,
i deserve credit that was forgotten.
