# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  push, pull_request, workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildAndroid:
    name: buildAndroid
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Setup Java JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1.1.5
        with:
          haxe-version: 4.2.4

      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install actuate 1.8.9 --quiet
          haxelib install box2d 1.2.3 --quiet
          haxelib git extension-androidtools https://github.com/91ebagacm/extension-androidtools.git
          haxelib git extension-webview https://github.com/MAJigsaw77/extension-webview.git
          haxelib install flixel-addons 2.11.0 --quiet
          haxelib install flixel-demos 2.8.1 --quiet
          haxelib install flixel-templates 2.6.6 --quiet
          haxelib install flixel-tools 1.5.1 --quiet
          haxelib install flixel-ui 2.4.0 --quiet
          haxelib --never install flixel 4.11.0 --quiet
          haxelib install hscript 2.4.0 --quiet
          haxelib install hxcpp 4.2.1 > /dev/null
          haxelib install layout 1.2.1 --quiet
          haxelib install lime-samples 7.0.0 --quiet
          haxelib install lime 7.9.0 --quiet
          haxelib git linc_luajit https://github.com/91ebagacm/linc_luajit.git
          haxelib git openfl https://github.com/mcagabe19/fastfl-9.0.2.git
          haxelib install openfl-samples 8.7.0 --quiet
          haxelib install systools 1.1.0 --quiet

      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION

      - name: Setup Lime
        run: |
          haxelib run lime setup -alias -y
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME
          haxelib run lime config ANDROID_SETUP true
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Compile
        run: haxelib run lime build android -armv7 --app-version="4.0.0-${{ github.run_id}}"

      - name: Publish Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: androidBuild
          path: export/release/android/bin/app/build/outputs/apk/debug
